<div class="container">
  <h4>Manage Customers</h4>
  <table class="highlight responsive-table">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Registered On</th>
      </tr>
    </thead>
    <tbody>
      <% customers.forEach(customer => { %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
          <td><%= new Date(customer.registered_on).toLocaleDateString() %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
