<!-- <nav>
  <div class="nav-wrapper">
    <a href="/admin/dashboard" class="brand-logo">Admin Dashboard</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/admin/manage-products">Manage Products</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>
 --><nav>
  <div class="nav-wrapper">
    <a href="/admin/dashboard" class="brand-logo">Admin Dashboard</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/admin/businesses">Businesses</a></li>
      <li><a href="/admin/customers">Customers</a></li>
      <li><a href="/admin/business-categories">Business Categories</a></li>
      <li><a href="/admin/product-categories">Product Categories</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>
