<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../Partials/header') %>
  <link rel="stylesheet" href="/css/user-theme.css">
</head>
<body>
  <%- include('../Partials/navbar') %>
  <main>
    <div class="container">
      <%- body %>
    </div>
  </main>
  <%- include('../Partials/footer') %>
</body>
</html>
