<div class="container">
    <h3 class="center-align">Order Confirmation</h3>
    <p class="center-align">
      <%= message %>
    </p>
    <div class="center-align">
      <a href="/" class="btn waves-effect waves-light">Continue Shopping</a>
    </div>
  </div>
  